<a class="card-anchor" href="/blog">
    <div class="anime-card">
        <img class="anime-card-img" src="images/naruto.jfif" alt="404" width="200px" height="200px">
        <div class="anime-heading">
            <h4>5 Shonen + action + genre anime you would love if you liked one piece</h4>
        </div>
    </div>
</a>