<div class="anime-card">
    <img class="anime-card-img" src="images/logo.png" alt="404" width="200px" height="200px">
    <div class="anime-heading">
        <p>Top 10 Shonen famous in japan Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat veniam magnam sapiente pariatur molestias hic accusamus aperiam officiis ex, vel repellat a consectetur, tenetur ratione ullam debitis enim blanditiis odio!</p>
    </div>
</div>