body{
    line-height: normal;
    background-color: crimson;
    /* background-image: url(/images/3.jfif); */
}
.card-holder
{
    display: block;
    width: 80%;
    min-height: 28rem;
    background-color: white;
    border-radius: 2px;
    padding: 20px;
    margin: 20px auto;
    /* align-items: center; */
}
.anime-card{
    /* display: flex; */
    /* position: initial; */
    display: inline-block;
    width: 17rem;
    /* height: 348.8px; */
    height: fit-content;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 20px;
    background-color:#00FFFF;
    background-image: url("/images/2.jfif");
    /* margin-top: 0; */
    vertical-align: top;
    border-radius: 2px;
    /* background-repeat: no-repeat; */
    
}

.anime-card-img{
    /* display:block; */
    padding-top: 1rem;
    margin: 0;
    width: 100%;
    
}
.anime-heading{
    margin-top: 10px;
    min-height: 10rem;
    display: inline-block;
    width: auto;
    /* background-color: yellow; */
}

.card-anchor{
    display: inline-block;
    width: fit-content;
    color: black;
    transition: 0.5s;
}

.card-anchor:hover{
    transform: scale(1.2);
}